---
import BlocksIcon from 'lucide-astro/Blocks';
import BuildingIcon from 'lucide-astro/Building';
import CheckIcon from 'lucide-astro/Check';
import ChevronsLeftRightEllipsisIcon from 'lucide-astro/CodeSquare';
import DatabaseIcon from 'lucide-astro/Database';
import LaptopIcon from 'lucide-astro/Laptop';
import OcatagonAlertIcon from 'lucide-astro/OctagonAlert';
import SettingsIcon from 'lucide-astro/Settings';
import ShieldCheckIcon from 'lucide-astro/ShieldCheck';
import WrenchIcon from 'lucide-astro/Wrench';
import navigation from '@data/navigation.yml';
import { formatPrice } from '@utils/format';
import Overline from '@components/Overline.astro';
import MainLayout from '@layouts/MainLayout.astro';

const title = 'Product';
const description =
  'Increase asset value, reduce operational costs, and improve data-led decision making. Ideal for all commercial buildings.';
---

<MainLayout title={title} description={description} headerClass="bg-white dark:bg-neutral-900">
  <section class="bg-gradient-to-b from-white to-transparent dark:from-neutral-900">
    <div class="container-narrow py-16 text-center lg:py-24">
      <div
        class="mx-auto mb-12 w-min rounded-full bg-gradient-to-br from-indigo-400/10 to-indigo-400/20 p-6 shadow-2xs shadow-indigo-400/20 outline-16 outline-indigo-400/5"
      >
        <BuildingIcon class="flex-shrink-0 stroke-indigo-500 dark:stroke-indigo-400" />
      </div>
      <h1 class="mb-6 text-4xl font-semibold text-neutral-900 md:text-5xl dark:text-neutral-100">
        Get a real-time overview of your building
      </h1>
      <p class="mb-8 text-xl">{description}</p>
      <div class="flex flex-wrap justify-center">
        <a
          href="#plans"
          class="rounded-full px-3.5 leading-9 font-medium text-indigo-500 transition select-none hover:bg-indigo-400/10 dark:text-indigo-400"
        >
          Plans
        </a>
        <a
          href="#features"
          class="rounded-full px-3.5 leading-9 font-medium text-indigo-500 transition select-none hover:bg-indigo-400/10 dark:text-indigo-400"
        >
          Features
        </a>
        <a
          href="#questions"
          class="rounded-full px-3.5 leading-9 font-medium text-indigo-500 transition select-none hover:bg-indigo-400/10 dark:text-indigo-400"
        >
          Questions
        </a>
      </div>
    </div>
  </section>
  <section id="plans" class="container py-8 sm:py-12 lg:pt-16 lg:pb-24">
    <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3 lg:gap-0">
      <div
        class="flex flex-col rounded-md border border-neutral-200 bg-white p-8 pt-6 lg:rounded-r-none lg:border-r-0 dark:border-neutral-800 dark:bg-neutral-900"
      >
        <h2 class="mb-2 text-2xl font-semibold text-neutral-900 md:text-3xl dark:text-neutral-100">
          Retrofit
        </h2>
        <p>
          <span class="text-neutral-500"
            >From <span class="font-semibold text-neutral-900 dark:text-neutral-100"
              >{formatPrice(10000)} + {formatPrice(149, 'month')}</span
            > per building</span
          >
        </p>
        <p class="-mx-8 my-6 border-y border-neutral-200 px-8 py-6 dark:border-neutral-800">
          Start accessing data by retrofitting Clouder to an existing building and reduce energy
          consumption.
        </p>
        <ul class="mb-8 space-y-2 text-sm *:flex *:gap-2">
          <li>
            <CheckIcon size={14} class="mt-1 flex-shrink-0 stroke-current/60 stroke-3" />
            Detect reasons for excess energy consumption and make your building more energy efficient.
          </li>
          <li>
            <CheckIcon size={14} class="mt-1 flex-shrink-0 stroke-current/60 stroke-3" />
            Enable quick and cost effective tenant modifications and energy upgrades.
          </li>
          <li>
            <CheckIcon size={14} class="mt-1 flex-shrink-0 stroke-current/60 stroke-3" />
            Capture data from systems and devices anywhere in the building.
          </li>
          <li>
            <CheckIcon size={14} class="mt-1 flex-shrink-0 stroke-current/60 stroke-3" />
            Easy to expand to full integration.
          </li>
        </ul>
        <a
          href={navigation.contact.href}
          class="mt-auto inline-flex h-11 cursor-pointer items-center justify-center gap-2 rounded bg-neutral-900 px-5 text-center text-sm font-medium text-nowrap text-neutral-100 transition select-none hover:bg-neutral-800 dark:bg-neutral-100 dark:text-neutral-900 dark:hover:bg-neutral-300"
        >
          Contact sales
        </a>
      </div>
      <div
        class="flex flex-col rounded-md border border-neutral-200 bg-white p-8 pt-6 lg:z-10 lg:-my-4 lg:pt-10 lg:pb-12 lg:shadow-2xl lg:shadow-black/10 dark:border-neutral-800 dark:bg-neutral-900"
      >
        <h2 class="mb-2 text-2xl font-semibold text-neutral-900 md:text-3xl dark:text-neutral-100">
          Full Integration
        </h2>
        <p>
          <span class="text-neutral-500">Custom pricing</span>
        </p>
        <p class="-mx-8 my-6 border-y border-neutral-200 px-8 py-6 dark:border-neutral-800">
          Transform your building into a net-zero digital building, improve operational efficiency,
          and enhance building security.
        </p>
        <ul class="mb-8 space-y-2 text-sm *:flex *:gap-2">
          <li>
            <CheckIcon
              size={14}
              class="mt-1 flex-shrink-0 stroke-indigo-500 stroke-3 dark:stroke-indigo-400"
            />
            Seamless physical integration of all systems, subsystems, and devices giving you a complete
            overview and improved control.
          </li>
          <li>
            <CheckIcon
              size={14}
              class="mt-1 flex-shrink-0 stroke-indigo-500 stroke-3 dark:stroke-indigo-400"
            />
            Reduce the need for traditional cabling which streamlines work phases, installation duration,
            and thereby lowers construction costs.
          </li>
          <li>
            <CheckIcon
              size={14}
              class="mt-1 flex-shrink-0 stroke-indigo-500 stroke-3 dark:stroke-indigo-400"
            />
            Detect reasons for excess energy consumption to make your building more energy efficient.
          </li>
          <li>
            <CheckIcon
              size={14}
              class="mt-1 flex-shrink-0 stroke-indigo-500 stroke-3 dark:stroke-indigo-400"
            />
            Utilize accurate real-time building data in monitoring, device control, fault detection and
            diagnostics, reporting, and other applications.
          </li>
          <li>
            <CheckIcon
              size={14}
              class="mt-1 flex-shrink-0 stroke-indigo-500 stroke-3 dark:stroke-indigo-400"
            />
            Integrate building data with smart office apps or property management software via our API.
          </li>
          <li>
            <CheckIcon
              size={14}
              class="mt-1 flex-shrink-0 stroke-indigo-500 stroke-3 dark:stroke-indigo-400"
            />
            Enhance building security with accurate audit trail, end-to-end encryption, and password
            management.
          </li>
          <li>
            <CheckIcon
              size={14}
              class="mt-1 flex-shrink-0 stroke-indigo-500 stroke-3 dark:stroke-indigo-400"
            />
            Easy to expand with minimal construction work.
          </li>
        </ul>
        <a
          href={navigation.contact.href}
          class="mt-auto inline-flex h-11 cursor-pointer items-center justify-center gap-2 rounded bg-indigo-500 px-5 text-center text-sm font-medium text-nowrap text-white transition select-none hover:bg-indigo-600 dark:hover:bg-indigo-400"
        >
          Contact sales
        </a>
      </div>
      <div
        class="flex flex-col rounded-md border border-neutral-200 bg-white p-8 pt-6 lg:rounded-l-none lg:border-l-0 dark:border-neutral-800 dark:bg-neutral-900"
      >
        <h2 class="mb-2 text-2xl font-semibold text-neutral-900 md:text-3xl dark:text-neutral-100">
          Portfolio
        </h2>
        <p class="text-neutral-500">Custom pricing</p>
        <p class="-mx-8 my-6 border-y border-neutral-200 px-8 py-6 dark:border-neutral-800">
          Maximize efficiency and sustainability across your entire building portfolio when Clouder
          is integrated to all of them.
        </p>
        <ul class="mb-8 space-y-2 text-sm *:flex *:gap-2">
          <li>
            <CheckIcon size={14} class="mt-1 flex-shrink-0 stroke-3" />
            Portfolio-wide energy optimization and sustainability tracking.
          </li>
          <li>
            <CheckIcon size={14} class="mt-1 flex-shrink-0 stroke-3" />
            Benchmark performance across properties to identify inefficiencies.
          </li>
          <li>
            <CheckIcon size={14} class="mt-1 flex-shrink-0 stroke-3" />
            Scalable integrations for rapid onboarding of new buildings.
          </li>
          <li>
            <CheckIcon size={14} class="mt-1 flex-shrink-0 stroke-3" />
            Cross-building analytics for data-driven, portfolio-level decisions.
          </li>
          <li>
            <CheckIcon size={14} class="mt-1 flex-shrink-0 stroke-3" />
            Streamlined ESG reporting for regulatory compliance and investors.
          </li>
        </ul>
        <a
          href={navigation.contact.href}
          class="mt-auto inline-flex h-11 cursor-pointer items-center justify-center gap-2 rounded bg-neutral-900 px-5 text-center text-sm font-medium text-nowrap text-neutral-100 transition select-none hover:bg-neutral-800 dark:bg-neutral-100 dark:text-neutral-900 dark:hover:bg-neutral-300"
        >
          Contact sales
        </a>
      </div>
    </div>
  </section>
  <section id="features" class="container py-8 sm:py-12 lg:py-16">
    <Overline title="Features" />
    <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3 xl:gap-10">
      <div class="col-span-full mb-4 space-y-4 lg:col-span-1 lg:row-span-4">
        <h2 class="text-2xl font-semibold md:text-3xl">Feature overview and availability</h2>
        <p>
          Clouder comes with a range of features and capabilities that enable efficient building
          management.
        </p>
      </div>
      <div
        class="space-y-3 rounded-md border border-neutral-200 bg-white p-6 lg:mt-1.5 dark:border-neutral-800 dark:bg-neutral-900"
      >
        <div class="flex size-10 rounded bg-indigo-400/10">
          <BlocksIcon
            size={20}
            class="m-auto flex-shrink-0 stroke-indigo-500 dark:stroke-indigo-400"
          />
        </div>
        <h4 class="text-xl font-semibold text-neutral-900 dark:text-neutral-100">
          Integration platform
        </h4>
        <p class="text-sm">
          Seamless integration of all building technology systems, subsystems, and devices,
          regardless of vendor or protocol.
        </p>
        <p class="text-sm">
          Add new or external systems and devices with minimal construction work by using Edge
          Connectors.
        </p>
        <p class="text-sm">
          Protocol conversions to enable communication between otherwise hard-to-integrate systems
          that don’t communicate with each other.
        </p>
        <p class="text-xs text-neutral-500">
          <strong class="font-medium">Availability:</strong> All plans
        </p>
      </div>
      <div
        class="space-y-3 rounded-md border border-neutral-200 bg-white p-6 lg:mt-1.5 dark:border-neutral-800 dark:bg-neutral-900"
      >
        <div class="flex size-10 rounded bg-indigo-400/10">
          <LaptopIcon
            size={20}
            class="m-auto flex-shrink-0 stroke-indigo-500 dark:stroke-indigo-400"
          />
        </div>
        <h4 class="text-xl font-semibold text-neutral-900 dark:text-neutral-100">
          Clouder&nbsp;Dashboard
        </h4>
        <p class="text-sm">
          View and manage all aspects of your building straight from your browser.
        </p>
        <p class="text-sm">
          Real-time data on energy consumption, indoor climate, and other insights enable improved
          monitoring and informed decision-making.
        </p>
        <p class="text-sm">
          Access to features like <a
            href="#features-fdd"
            class="underline decoration-current/50 decoration-dotted underline-offset-2"
            >Fault detection & diagnostics</a
          >, <a
            href="#features-dc"
            class="underline decoration-current/50 decoration-dotted underline-offset-2"
            >Device control</a
          >, and more.
        </p>
        <p class="text-xs text-neutral-500">
          <strong class="font-medium">Availability:</strong> All plans
        </p>
      </div>
      <div
        class="space-y-3 rounded-md border border-neutral-200 bg-white p-6 lg:mt-1.5 dark:border-neutral-800 dark:bg-neutral-900"
      >
        <div class="flex size-10 rounded bg-indigo-400/10">
          <DatabaseIcon
            size={20}
            class="m-auto flex-shrink-0 stroke-indigo-500 dark:stroke-indigo-400"
          />
        </div>
        <h4 class="text-xl font-semibold text-neutral-900 dark:text-neutral-100">Data storage</h4>
        <p class="text-sm">
          Cloud-based data storage for accurate building data. No more relying on benchmarks or
          estimates.
        </p>
        <p class="text-sm">
          View and export building data from Clouder&nbsp;Dashboard for sustainability reporting.
        </p>
        <p class="text-sm">
          Our five-year data retention policy gives you full ownership and control of your data.
        </p>
        <p class="text-xs text-neutral-500">
          <strong class="font-medium">Availability:</strong> All plans
        </p>
      </div>
      <div
        class="space-y-3 rounded-md border border-neutral-200 bg-white p-6 lg:mt-1.5 dark:border-neutral-800 dark:bg-neutral-900"
      >
        <div class="flex size-10 rounded bg-indigo-400/10">
          <ChevronsLeftRightEllipsisIcon
            size={20}
            class="m-auto flex-shrink-0 stroke-indigo-500 dark:stroke-indigo-400"
          />
        </div>
        <h4 class="text-xl font-semibold text-neutral-900 dark:text-neutral-100">Real-time API</h4>
        <p class="text-sm">Access building data through our real-time API.</p>
        <p class="text-sm">
          Perfect for smart office apps, property management software, and other third-party
          integrations.
        </p>
        <p class="text-xs text-neutral-500">
          <strong class="font-medium">Availability:</strong> Full Integration and Portfolio plans
        </p>
      </div>
      <div
        id="features-fdd"
        class="space-y-3 rounded-md border border-neutral-200 bg-white p-6 lg:mt-1.5 dark:border-neutral-800 dark:bg-neutral-900"
      >
        <div class="flex size-10 rounded bg-indigo-400/10">
          <OcatagonAlertIcon
            size={20}
            class="m-auto flex-shrink-0 stroke-indigo-500 dark:stroke-indigo-400"
          />
        </div>
        <h4 class="text-xl font-semibold text-neutral-900 dark:text-neutral-100">
          Fault detection & diagnostics
        </h4>
        <p class="text-sm">
          Quickly identify and diagnose faults, problems, and conflicts in your building automation
          system.
        </p>
        <p class="text-sm">
          Receive targeted recommendations and clear guidance for resolving identified issues.
        </p>
        <p class="text-sm">
          Save time and resources by reducing manual work and streamline troubleshooting workflows.
        </p>
        <p class="text-xs text-neutral-500">
          <strong class="font-medium">Availability:</strong> Full Integration and Portfolio plans
        </p>
      </div>
      <div
        id="features-dc"
        class="space-y-3 rounded-md border border-neutral-200 bg-white p-6 lg:mt-1.5 dark:border-neutral-800 dark:bg-neutral-900"
      >
        <div class="flex size-10 rounded bg-indigo-400/10">
          <SettingsIcon
            size={20}
            class="m-auto flex-shrink-0 stroke-indigo-500 dark:stroke-indigo-400"
          />
        </div>
        <h4 class="text-xl font-semibold text-neutral-900 dark:text-neutral-100">Device control</h4>
        <p class="text-sm">
          Control all systems and field devices in your building without disrupting the existing
          building automation system.
        </p>
        <p class="text-sm">
          Use sophisticated, event-based rules to control devices to further reduce energy
          consumption.
        </p>
        <p class="text-xs text-neutral-500">
          <strong class="font-medium">Availability:</strong> Full Integration and Portfolio plans
        </p>
      </div>
      <div
        class="space-y-3 rounded-md border border-neutral-200 bg-white p-6 lg:mt-1.5 dark:border-neutral-800 dark:bg-neutral-900"
      >
        <div class="flex size-10 rounded bg-indigo-400/10">
          <ShieldCheckIcon
            size={20}
            class="m-auto flex-shrink-0 stroke-indigo-500 dark:stroke-indigo-400"
          />
        </div>
        <h4 class="text-xl font-semibold text-neutral-900 dark:text-neutral-100">
          Additional security
        </h4>
        <p class="text-sm">
          Fine-grained data access rules, accurate audit trail, end-to-end encryption and secure
          cloud storage of building data.
        </p>
        <p class="text-sm">
          Robust security in building automation with centralized password management. No more
          default passwords known by everyone.
        </p>
        <p class="text-xs text-neutral-500">
          <strong class="font-medium">Availability:</strong> Full Integration and Portfolio plans
        </p>
      </div>
      <div
        class="space-y-3 rounded-md border border-neutral-200 bg-white p-6 lg:mt-1.5 dark:border-neutral-800 dark:bg-neutral-900"
      >
        <div class="flex size-10 rounded bg-indigo-400/10">
          <WrenchIcon
            size={20}
            class="m-auto flex-shrink-0 stroke-indigo-500 dark:stroke-indigo-400"
          />
        </div>
        <h4 class="text-xl font-semibold text-neutral-900 dark:text-neutral-100">
          Custom integrations
        </h4>
        <p class="text-sm">
          Our team can offer tailored solutions and consulting services to address your specific
          needs, from advanced system integrations to personalized building performance strategies.
        </p>
        <a
          href={navigation.contact.href}
          class="mt-2 inline-flex h-8 cursor-pointer items-center justify-center gap-2 rounded bg-indigo-500 px-3 text-center text-xs font-medium text-nowrap text-white transition select-none hover:bg-indigo-600 dark:hover:bg-indigo-400"
        >
          Let’s talk
        </a>
      </div>
    </div>
  </section>
  <section id="questions" class="container py-8 sm:py-12 lg:py-16">
    <Overline title="Questions" />
    <div class="grid grid-cols-1 items-start gap-10 lg:grid-cols-3">
      <div
        class="flex flex-col items-start gap-5 md:flex-row md:items-center lg:flex-col lg:items-start"
      >
        <div class="mr-auto">
          <h2 class="mb-4 text-2xl font-semibold md:text-3xl">I have a question…</h2>
          <p>
            We've gathered answers to the questions we hear most often. <a
              href={navigation.contact.href}
              class="underline underline-offset-2 transition hover:opacity-65">Contact us</a
            > if you can’t find what you’re looking for.
          </p>
        </div>
        <button
          id="toggleBtn"
          class="inline-flex h-8 flex-shrink-0 cursor-pointer items-center rounded border border-current/25 px-3 text-xs font-medium text-current/65 transition hover:bg-current/5"
        >
          Expand all
        </button>
      </div>
      <div class="*:border-b *:border-neutral-200 lg:col-span-2 *:dark:border-neutral-800">
        <details class="group open:pb-6">
          <summary
            class="cursor-pointer py-6 font-semibold transition group-open:pb-4 hover:opacity-65"
          >
            Is it only for new construction?
          </summary>
          <p>
            No. Clouder can be installed in all types of properties, both existing and new
            construction.
          </p>
        </details>
        <details class="group open:pb-6">
          <summary
            class="cursor-pointer py-6 font-semibold transition group-open:pb-4 hover:opacity-65"
          >
            Can I add it alongside my current systems?
          </summary>
          <p>
            Yes. Clouder can be installed alongside your existing system, regardless of what kind of
            cabling or devices you have.
          </p>
        </details>
        <details class="group open:pb-6">
          <summary
            class="cursor-pointer py-6 font-semibold transition group-open:pb-4 hover:opacity-65"
          >
            Do I need a network connection for it to function?
          </summary>
          <p class="mb-4">
            Clouder hardware operates locally on the property and does not require an external
            connection to function. Network connection is needed for monitoring, controlling, and
            storing data in the cloud.
          </p>
        </details>
        <details class="group open:pb-6">
          <summary
            class="cursor-pointer py-6 font-semibold transition group-open:pb-4 hover:opacity-65"
          >
            What are the annual costs? Are there any license fees?
          </summary>
          <p class="mb-4">
            Our pricing structure varies by plan. The Retrofit Plan consists of a one-time setup fee
            and a monthly subscription fee. The setup fee is determined by the building size and
            service scope.
          </p>
          <p class="mb-4">
            The Full Integration Plan offers custom pricing that includes a one-time setup fee and
            monthly subscription. The pricing is based on your specific needs, taking into account
            building size and complexity, data volume, service scope, and selected features.
          </p>
          <p class="mb-4">
            The Portfolio Plan provides custom pricing designed for multiple Clouder-enabled
            buildings. The price is based on the number of buildings, total data volume, service
            scope, and selected features.
          </p>
          <p>We don't charge any additional license fees for any of our plans.</p>
        </details>
        <details class="group open:pb-6">
          <summary
            class="cursor-pointer py-6 font-semibold transition group-open:pb-4 hover:opacity-65"
          >
            Will it increase construction costs in my projects?
          </summary>
          <p>
            No. Clouder reduces work phases, installation duration, and thereby lowers construction
            costs.
          </p>
        </details>
        <details class="group open:pb-6">
          <summary
            class="cursor-pointer py-6 font-semibold transition group-open:pb-4 hover:opacity-65"
          >
            Any special considerations for building technology system plans?
          </summary>
          <p>
            <a
              href={navigation.contact.href}
              class="underline underline-offset-2 transition hover:opacity-65">Contact us</a
            > and we’ll provide you with our design guide for building automation and electrical designers.
          </p>
        </details>
        <details class="group open:pb-6">
          <summary
            class="cursor-pointer py-6 font-semibold transition group-open:pb-4 hover:opacity-65"
          >
            Who does the installation?
          </summary>
          <p>
            The installation can be carried out by the site’s electrical or automation contractor.
          </p>
        </details>
        <details class="group border-none open:pb-5">
          <summary
            class="cursor-pointer py-6 font-semibold transition group-open:pb-4 hover:opacity-65"
          >
            Is there a warranty?
          </summary>
          <p>
            Warranty is 24 months. After the warranty period ends, a maintenance contract offers
            full device warranty.
          </p>
        </details>
      </div>
    </div>
  </section>
  <section class="container py-8 sm:py-12 lg:py-16">
    <div
      class="rounded-md border border-neutral-200 bg-white p-8 text-center md:p-16 dark:border-neutral-800 dark:bg-neutral-900"
    >
      <h2 class="mb-3 text-2xl font-semibold text-neutral-900 md:text-3xl dark:text-neutral-100">
        Book a demo
      </h2>
      <p class="mb-6">
        Experience the system firsthand by scheduling a visit to our lab in Helsinki.
      </p>
      <a
        href={navigation.contact.href + '#form'}
        class="inline-flex h-11 cursor-pointer items-center justify-center gap-2 rounded bg-indigo-500 px-5 text-center text-sm font-medium text-nowrap text-white transition select-none hover:bg-indigo-600 dark:hover:bg-indigo-400"
      >
        Contact us
      </a>
    </div>
  </section>
  <div class="h-8 sm:h-12 lg:h-16"></div>
</MainLayout>

<script>
  const btn = document.getElementById('toggleBtn');
  const details = document.querySelectorAll('details');
  let isExpanded = false;

  btn?.addEventListener('click', () => {
    isExpanded = !isExpanded;
    details.forEach((d) => d.toggleAttribute('open', isExpanded));
    btn.textContent = isExpanded ? 'Collapse all' : 'Expand all';
  });
</script>
