---
import { Image } from 'astro:assets';
import MainLayout from '@layouts/MainLayout.astro';
import Overline from '@components/Overline.astro';
import tomiImage from '@assets/tomi.jpg';
import jussiImage from '@assets/jussi.jpg';
import emmaImage from '@assets/emma.jpg';
import benImage from '@assets/ben-bw.jpg';
import hqImage from '@assets/hq.jpg';

const title = 'Contact us';
const description = 'Get in touch with our sales team or book a demo.';
---

<MainLayout title={title} description={description} headerClass="bg-white dark:bg-neutral-900">
  <section class="border-b border-neutral-200 bg-white dark:border-neutral-800 dark:bg-neutral-900">
    <div class="container-narrow pt-16 pb-24 text-center lg:pt-28 lg:pb-40">
      <h1 class="mb-5 text-4xl font-semibold text-neutral-900 md:text-5xl dark:text-neutral-100">
        Interested to learn more?
      </h1>
      <p class="text-xl">{description}</p>
    </div>
  </section>
  <div class="h-8 sm:h-12 lg:h-16"></div>
  <section id="sales" class="container py-8 sm:py-12 lg:py-16">
    <Overline title="Sales" />
    <div
      class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 sm:gap-x-8 lg:grid-cols-3 lg:gap-x-10"
    >
      <div class="space-y-4 sm:col-span-2 lg:col-span-1 lg:row-span-2">
        <h2 class="text-2xl font-semibold text-neutral-900 md:text-3xl dark:text-neutral-100">
          We’re here to help
        </h2>
        <p>
          Whether you have security and compliance concerns or product questions, our sales team is
          here to help.
        </p>
      </div>
      <div class="space-y-0.5 lg:mt-1.5">
        <Image
          src={tomiImage}
          alt="Tomi Grönlund"
          class="mb-4 aspect-square rounded object-cover"
          width={800}
        />
        <h3 class="mb-2 text-xl font-semibold text-neutral-900 dark:text-neutral-100">
          Tomi Grönlund
        </h3>
        <p>CEO</p>
        <p>tomi.gronlund@cloudersolutions.com</p>
        <p>+358 50 527 1416</p>
      </div>
      <div class="space-y-0.5 lg:mt-1.5">
        <Image
          src={emmaImage}
          alt="Emma Grönlund"
          class="mb-4 aspect-square rounded object-cover"
          width={800}
        />
        <h3 class="mb-2 text-xl font-semibold text-neutral-900 dark:text-neutral-100">
          Emma Grönlund
        </h3>
        <p>COO</p>
        <p>emma.gronlund@cloudersolutions.com</p>
        <p>+358 40 846 8169</p>
      </div>
      <div class="space-y-0.5">
        <Image
          src={jussiImage}
          alt="Jussi Toivonen"
          class="mb-4 aspect-square rounded object-cover"
          width={800}
        />
        <h3 class="mb-2 text-xl font-semibold text-neutral-900 dark:text-neutral-100">
          Jussi Toivonen
        </h3>
        <p>Building Systems Technology Lead</p>
        <p>jussi.toivonen@cloudersolutions.com</p>
        <p>+358 50 560 8434</p>
      </div>
      <div class="space-y-0.5">
        <Image
          src={benImage}
          alt="Ben Weber"
          class="mb-4 aspect-square rounded object-cover lg:mt-1.5"
          width={800}
        />
        <h3 class="mb-2 text-xl font-semibold text-neutral-900 dark:text-neutral-100">Ben Weber</h3>
        <p>Sales & Business Development</p>
        <p>ben.weber@cloudersolutions.com</p>
        <p>+358 40 769 0100</p>
      </div>
    </div>
  </section>
  <section id="office" class="container py-8 sm:py-12 lg:py-16">
    <Overline title="Office" />
    <div
      class="grid grid-cols-1 gap-x-6 gap-y-4 sm:grid-cols-2 sm:gap-x-8 lg:grid-cols-3 lg:gap-x-10"
    >
      <Image
        src={hqImage}
        alt="Office"
        class="aspect-square rounded object-cover object-top lg:col-span-2 lg:aspect-video"
        width={800}
      />
      <div class="space-y-0.5 sm:order-first">
        <h2 class="mb-2 text-2xl font-semibold text-neutral-900 md:text-3xl dark:text-neutral-100">
          Helsinki
        </h2>
        <p>Pursimiehenkatu 26 B</p>
        <p>00150 Helsinki</p>
        <p>Finland</p>
        <p>+358 40 3525 47 3</p>
        <p>3356072-5</p>
      </div>
    </div>
  </section>
  <section id="form" class="container py-8 sm:py-12 lg:py-16">
    <Overline title="Contact us" />
    <div class="grid grid-cols-1 gap-x-6 gap-y-10 md:grid-cols-2 md:gap-x-10 lg:grid-cols-3">
      <div class="space-y-4 md:col-span-2 lg:col-span-1">
        <h2 class="text-2xl font-semibold text-neutral-900 md:text-3xl dark:text-neutral-100">
          Drop us a line, and we’ll get back to you
        </h2>
        <p>
          For lab visits and system audits, please suggest a few dates and times that work for you.
        </p>
        <p class="text-sm text-neutral-500">
          Prefer email or phone?
          <a href="#sales" class="underline">Contact our sales team directly</a>.
        </p>
      </div>
      <form
        name="contact"
        method="POST"
        action="/success"
        data-netlify="true"
        netlify-honeypot="leave-blank"
        class="col-span-2 mt-1 space-y-4"
      >
        <div class="flex gap-4">
          <div class="w-full">
            <label for="firstName" class="mb-2 block text-sm font-medium">First name</label>
            <input
              id="firstName"
              name="firstName"
              type="text"
              required
              class="block h-11 w-full rounded border border-neutral-200 bg-white px-3 dark:border-neutral-800 dark:bg-neutral-900"
            />
          </div>
          <div class="w-full">
            <label for="lastName" class="mb-2 block text-sm font-medium">Last name</label>
            <input
              id="lastName"
              name="lastName"
              type="text"
              required
              class="block h-11 w-full rounded border border-neutral-200 bg-white px-3 dark:border-neutral-800 dark:bg-neutral-900"
            />
          </div>
        </div>
        <div>
          <label for="email" class="mb-2 block text-sm font-medium">Email</label>
          <input
            id="email"
            name="email"
            type="email"
            required
            class="block h-11 w-full rounded border border-neutral-200 bg-white px-3 dark:border-neutral-800 dark:bg-neutral-900"
          />
          <div class="mt-3">
            <div class="flex gap-1.5">
              <input
                id="newsletter"
                name="newsletter"
                type="checkbox"
                class="mt-0.5 size-4 rounded border-neutral-300 text-indigo-500 not-checked:bg-white dark:border-neutral-700 dark:not-checked:bg-neutral-900"
              />
              <label for="newsletter" class="text-sm">
                Sign up to our newsletter to receive company news, product updates and more.
              </label>
            </div>
            <p class="mt-0.5 ml-5 text-xs text-neutral-500">
              See our
              <a href="/privacy-policy" class="underline" tabindex="-1">Privacy Policy</a>
              for details on how we handle your data.
            </p>
          </div>
        </div>
        <div>
          <label for="phone" class="mb-2 block text-sm font-medium">Phone</label>
          <input
            id="phone"
            name="phone"
            type="tel"
            class="block h-11 w-full rounded border border-neutral-200 bg-white px-3 dark:border-neutral-800 dark:bg-neutral-900"
          />
        </div>
        <div class="mb-5">
          <label for="message" class="mb-2 block text-sm font-medium">Message</label>
          <textarea
            id="message"
            name="message"
            rows="4"
            required
            class="block w-full rounded border border-neutral-200 bg-white p-3 dark:border-neutral-800 dark:bg-neutral-900"
          ></textarea>
        </div>
        <input
          name="leave-blank"
          type="text"
          autocomplete="off"
          tabindex="-1"
          aria-hidden="true"
          style="position: absolute; left: -9999px;"
        />
        <button
          type="submit"
          class="inline-flex h-11 min-w-24 cursor-pointer items-center justify-center gap-2 rounded bg-indigo-500 px-5 text-center text-sm font-medium text-nowrap text-white transition select-none hover:bg-indigo-600 dark:hover:bg-indigo-400"
        >
          Send
        </button>
      </form>
    </div>
  </section>
  <div class="h-8 sm:h-12 lg:h-16"></div>
</MainLayout>
