---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import { HousePlug, ChartNoAxesColumn, HardHat, Building, Euro, ShieldCheck } from 'lucide-astro';
import site from '@data/site.yml';
import MainLayout from '@layouts/MainLayout.astro';
import ClouderIllustration from '@assets/how-clouder-works.svg';
import uiLightImage from '@assets/ui-light.png';
import uiDarkImage from '@assets/ui-dark.png';

const posts = await getCollection('news');
const featuredPosts = posts.filter((post) => post.data.featured);
---

<MainLayout title={site.title} description={site.description}>
  <section class="container py-16">
    <h1 class="mb-4 text-5xl font-semibold">{site.description}</h1>
    <p class="mb-4 text-lg">
      Clouder's technology seamlessly integrates all building systems and devices, regardless of the
      protocol or manufacturer. Our solution reduces the need for extensive physical cabling between
      devices and systems and allows devices to communicate and share data.
    </p>
    <a
      href="https://www.youtube.com/watch?v=kdJNcAIhxDE"
      class="inline-flex rounded bg-black px-4 py-2 font-medium text-white dark:bg-white dark:text-black"
      >See how it works</a
    >
    <div class="screenshot">
      <Image src={uiLightImage} alt="Screenshot" class="block dark:hidden" />
      <Image src={uiDarkImage} alt="Screenshot" class="hidden dark:block" />
    </div>
  </section>
  <section class="container py-16">
    <h2 class="mb-4 text-3xl font-semibold">Today, everything is data driven - except buildings</h2>
    <p class="mb-12 text-lg">
      Forward-thinking building owners use clouders to increase asset value, reduce operational
      costs, and improve data-led decision making.
    </p>
    <div class="grid grid-cols-3 gap-12">
      <div>
        <div class="mb-2 flex items-center gap-2">
          <HousePlug />
          <h3 class="text-xl font-semibold">Energy savings</h3>
        </div>
        <p>
          Detect reasons for excess energy consumption and make your building more energy efficient
          with real time monitoring and system control. Possibility for 20–50% savings.
        </p>
      </div>
      <div>
        <div class="mb-2 flex items-center gap-2">
          <ChartNoAxesColumn />
          <h3 class="text-xl font-semibold">Accurate data</h3>
        </div>
        <p>
          Clouder is a vendor independent solution that integrates, collects, and saves all building
          tech system data and device data points. Accurate and real-time data can be utilized in
          monitoring and reporting.
        </p>
      </div>
      <div>
        <div class="mb-2 flex items-center gap-2">
          <HardHat />
          <h3 class="text-xl font-semibold">Flexibility</h3>
        </div>
        <p>
          Easy addition of field devices without breaking surfaces, expensive cabling or complicated
          programming projects. Connected devices are automatically integrated into the solution.
        </p>
      </div>
      <div>
        <div class="mb-2 flex items-center gap-2">
          <Building />
          <h3 class="text-xl font-semibold">Efficient operations</h3>
        </div>
        <p>
          Fault detection and diagnostics in a web browser reduces unnecessary manual work and
          shortens troubleshooting, thus reducing money spent on hourly maintenance work.
        </p>
      </div>
      <div>
        <div class="mb-2 flex items-center gap-2">
          <Euro />
          <h3 class="text-xl font-semibold">Cost savings</h3>
        </div>
        <p>
          Clear and predictable pricing with no surprises. No need for ongoing updates for third
          party solution APIs or unexpected BMS programming due to constant changes in systems.
        </p>
      </div>
      <div>
        <div class="mb-2 flex items-center gap-2">
          <ShieldCheck />
          <h3 class="text-xl font-semibold">Security</h3>
        </div>
        <p>
          Secure your building tech with accurate audit trail, end-to-end encryption and secure
          cloud connection. No more default passwords known by everyone.
        </p>
      </div>
    </div>
  </section>
  <section class="container py-16">
    <h2 class="mb-6 text-3xl font-semibold">How it works</h2>
    <div class="grid grid-cols-2 gap-12">
      <div>
        <h3 class="mb-2 text-xl font-semibold">Virtual cables</h3>
        <p class="mb-6">
          The signals of building technology systems are digitized and transmitted through the
          building's backbone network with virtual cables, eliminating the need for physical
          low-voltage cables that run through structures and fire zones.
        </p>
        <h3 class="mb-2 text-xl font-semibold">Edge Connectors</h3>
        <p class="mb-6">
          Edge Connector (EC) devices serve as connection points for various field devices and
          systems. Data is transmitted either wirelessly or through wired connections, using
          encrypted communication over IP networks to reach the Virtual Cabling Engine. Operating
          similarly to distributed I/O systems, these devices significantly reduce traditional
          cabling requirements.
        </p>
        <h3 class="mb-2 text-xl font-semibold">Virtual Cabling Engine</h3>
        <p class="mb-6">
          Virtual Cabling Engine (VCE) is a device connected to the BMS center. The VCE contains the
          virtual cabling information, consolidates all the data transmitted by the Edge Connectors,
          and facilitates integrations between systems and devices.
        </p>
        <h3 class="mb-2 text-xl font-semibold">Data storage</h3>
        <p class="mb-6">
          All system and device data is securely stored in the cloud, where it can be accessed in
          real-time through either the Clouder Dashboard or our API interface. This centralized
          approach allows you to seamlessly monitor and analyze data from all your systems,
          subsystems, and devices.
        </p>
      </div>
      <div class="flex w-full justify-center">
        <ClouderIllustration />
      </div>
    </div>
  </section>
  <section class="container py-16">
    <h2 class="mb-4 text-3xl font-semibold">Build sustainability with virtual cabling</h2>
    <p>
      As the built environment is responsible for 39% of global energy-related carbon emissions,
      buildings and more efficient construction are the foundation of our sustainable future.
    </p>
    <p class="mb-6">
      Clouder’s virtual cabling solution enables commercial real estate organizations to achieve
      lifelong sustainability and meet environmental standards while enhancing overall building
      performance and occupant satisfaction.
    </p>
    <div class="grid grid-cols-2 gap-12">
      <div>
        <h3 class="mb-2 text-xl font-semibold">Clouder helps meet EU green building regulations</h3>
        <p>
          The EU's Energy Performance of Buildings Directive (EPBD) has set a bold target: to fully
          decarbonize building stock by 2050. Clouder’s mission is to enable the shift to
          sustainable next-generation real estate by transforming how building tech connectivity is
          done. Clouder’s virtual cabling creates a smart building infrastructure that ensures
          compliance with the EPBD regulations and enables sustainable real estate operations
          throughout the lifecycle of the building.
        </p>
      </div>
      <div>
        <h3 class="mb-2 text-xl font-semibold">100x less embodied carbon in cabling</h3>
        <p class="mb-4">
          11% of the built environment’s carbon emissions comes from the embodied carbon. Clouder's
          virtual cabling reduces embodied carbon emissions by 100x compared to physical cables.
        </p>
        <table class="table w-full text-left text-sm">
          <thead>
            <tr class="*:py-2">
              <th>Low voltage cabling</th>
              <th>Clouder’s virtual cabling</th>
            </tr>
          </thead>
          <tbody>
            <tr class="border-t border-neutral-200 *:py-2 dark:border-neutral-800">
              <td>50,000 eCO2kg</td>
              <td>500 eCO2kg</td>
            </tr>
            <tr class="border-t border-neutral-200 *:py-2 dark:border-neutral-800">
              <td>60,000 m of physical cables</td>
              <td>90% less cables needed</td>
            </tr>
            <tr class="border-t border-neutral-200 *:py-2 dark:border-neutral-800">
              <td>13 installation steps</td>
              <td>2 installation steps</td>
            </tr>
            <tr class="border-t border-neutral-200 *:py-2 dark:border-neutral-800">
              <td colspan="2" class="text-neutral-500"
                >* Example from a 10,000 m² office building</td
              >
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
  <section class="container py-16">
    <h2 class="mb-4 text-3xl font-semibold">Learn how our customers are using Clouder</h2>
    <div class="grid grid-cols-2 gap-12">
      {
        featuredPosts.map((post) => (
          <a href={`/blog/${post.slug}`}>
            <Image
              src={post.data.cover}
              alt={post.data.title}
              class="aspect-video rounded object-cover"
            />
            <h3 class="mt-4 text-xl font-semibold">{post.data.title}</h3>
          </a>
        ))
      }
    </div>
  </section>
</MainLayout>
