---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import site from '@data/site.yml';
import Layout from '@layouts/Layout.astro';
import uiLightImage from '@assets/ui-light.png';
import ClouderIllustration from '@assets/how-clouder-works.svg';

const posts = await getCollection('news');
const featuredPosts = posts.filter((post) => post.data.featured);
---

<Layout title={site.title} description={site.description}>
  <section>
    <h1>{site.description}</h1>
    <p>
      Clouder's technology seamlessly integrates all building systems and devices, regardless of the
      protocol or manufacturer. Our solution reduces the need for extensive physical cabling between
      devices and systems and allows devices to communicate and share data.
    </p>
    <a href="https://www.youtube.com/watch?v=kdJNcAIhxDE">See how it works</a>
    <Image src={uiLightImage} alt="Screenshot" />
  </section>

  <section>
    <h2>Today, everything is data driven - except buildings</h2>
    <p>
      Forward-thinking building owners use clouders to increase asset value, reduce operational
      costs, and improve data-led decision making.
    </p>
    <div class="grid">
      <div>
        <h3>Energy savings</h3>
        <p>
          Detect reasons for excess energy consumption and make your building more energy efficient
          with real time monitoring and system control. Possibility for 20–50% savings.
        </p>
      </div>
      <div>
        <h3>Accurate data</h3>
        <p>
          Clouder is a vendor independent solution that integrates, collects, and saves all building
          tech system data and device data points. Accurate and real-time data can be utilized in
          monitoring and reporting.
        </p>
      </div>
      <div>
        <h3>Flexibility</h3>
        <p>
          Easy addition of field devices without breaking surfaces, expensive cabling or complicated
          programming projects. Connected devices are automatically integrated into the solution.
        </p>
      </div>
      <div>
        <h3>Efficient operations</h3>
        <p>
          Fault detection and diagnostics in a web browser lessens unnecessary manual work and
          shortens troubleshooting, thus reducing money spent on hourly maintenance work.
        </p>
      </div>
      <div>
        <h3>Cost savings</h3>
        <p>
          Clear and predictable pricing with no surprises. No need for ongoing updates for third
          party solution APIs or unexpected BMS programming due to constant changes in systems.
        </p>
      </div>
      <div>
        <h3>Security</h3>
        <p>
          Secure your building tech with accurate audit trail, end-to-end encryption and secure
          cloud connection. No more default passwords known by everyone.
        </p>
      </div>
    </div>
  </section>

  <section>
    <h2>How it works</h2>
    <div class="grid">
      <div>
        <h3>Virtual cables</h3>
        <p>
          The signals of building technology systems are digitized and transmitted through the
          building's backbone network with virtual cables, eliminating the need for physical
          low-voltage cables that run through structures and fire zones.
        </p>
        <h3>Edge connectors</h3>
        <p>
          Field devices and systems are connected to Edge connector devices. They transmit data
          wirelessly or with a wire and encrypted through the IP network to the Virtual Cabling
          Engine. The devices function like distributed I/O and reduce the need for cabling.
        </p>
        <h3>Virtual Cabling Engine</h3>
        <p>
          Virtual Cabling Engine (VCE) is a device connected to the BMS center. The VCE contains the
          virtual cabling information, consolidates all the data transmitted by the Edge connectors,
          and facilitates integrations between systems and devices.
        </p>
        <h3>Data storage</h3>
        <p>
          All system and device data is sent and stored in the cloud. We provide a database API,
          allowing you to utilize data from all systems, subsystems, and field devices in one place
          in real-time.
        </p>
        <h3>Security</h3>
        <p>
          Built-in military-grade security using the AES 256 encryption standard (Advanced
          Encryption Standard).
        </p>
      </div>
      <div>
        <ClouderIllustration />
      </div>
    </div>
  </section>

  <section>
    <h2>Build sustainability with virtual cabling</h2>
    <p>
      As the built environment is responsible for 39% of global energy-related carbon emissions,
      buildings and more efficient construction are the foundation of our sustainable future.
    </p>
    <p>
      Clouder’s virtual cabling solution enables commercial real estate organizations to achieve
      lifelong sustainability and meet environmental standards while enhancing overall building
      performance and occupant satisfaction.
    </p>
    <div class="grid">
      <div>
        <h3>Clouder helps meet EU green building regulations</h3>
        <p>
          The EU's Energy Performance of Buildings Directive (EPBD) has set a bold target: to fully
          decarbonize building stock by 2050. Clouder’s mission is to enable the shift to
          sustainable next-generation real estate by transforming how building tech connectivity is
          done. Clouder’s virtual cabling creates a smart building infrastructure that ensures
          compliance with the EPBD regulations and enables sustainable real estate operations
          throughout the lifecycle of the building.
        </p>
      </div>
      <div>
        <h3>100x less embodied carbon in cabling</h3>
        <p>
          11% of the built environment’s carbon emissions comes from the embodied carbon. Clouder's
          virtual cabling reduces embodied carbon emissions by 100x compared to physical cables.
        </p>
        <table>
          <thead>
            <tr>
              <th>Low voltage cabling</th>
              <th>Clouder’s virtual cabling</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>50,000 eCO2kg</td>
              <td>500 eCO2kg</td>
            </tr>
            <tr>
              <td>60,000 m of physical cables</td>
              <td>90% less cables needed</td>
            </tr>
            <tr>
              <td>13 installation steps</td>
              <td>2 installation steps</td>
            </tr>
          </tbody>
        </table>
        <p>* Example from a 10,000 m² office building</p>
      </div>
    </div>
  </section>
  <section>
    <h2>Learn how our customers are using Clouder</h2>
    <div class="grid">
      {
        featuredPosts.map((post) => (
          <a href={`/blog/${post.slug}`}>
            <Image src={post.data.cover} alt={post.data.title} />
            <h3>{post.data.title}</h3>
          </a>
        ))
      }
    </div>
  </section>
</Layout>

<style>
  section {
    padding: 2rem 0;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 3rem;
    padding: 1rem 0;

    img {
      aspect-ratio: 2/1;
      object-fit: cover;
    }
  }
</style>
