---
import { getCollection } from 'astro:content';
import { sentenceCase } from 'change-case';
import ArrowRightIcon from 'lucide-astro/ArrowRight';
import ArrowLeftIcon from 'lucide-astro/ArrowLeft';
import { formatDate } from '@utils/date.ts';
import ProseLayout from '@layouts/ProseLayout.astro';

export async function getStaticPaths() {
  const posts = await getCollection('news', ({ data }) =>
    import.meta.env.PROD ? !data.draft : true
  );
  const sortedPosts = posts.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

  return sortedPosts.map((post, index) => ({
    params: { slug: post.slug },
    props: {
      post,
      previousPost: sortedPosts[index - 1] || null,
      nextPost: sortedPosts[index + 1] || null
    }
  }));
}

const { post, previousPost, nextPost } = Astro.props;
const { Content } = await post.render();
---

<ProseLayout title={post.data.title} description={post.data.description} image={post.data.cover}>
  <article>
    <header class="not-prose text-center">
      <h1 class="text-3xl font-semibold text-neutral-900 md:text-4xl dark:text-neutral-100">
        {post.data.title}
      </h1>
      <div class="mt-6 flex flex-wrap justify-center gap-1.5 text-sm text-neutral-500">
        <time datetime={post.data.date.toISOString()}>{formatDate(post.data.date)}</time>
        <span>&middot;</span>
        <p>{sentenceCase(post.data.category)}</p>
      </div>
    </header>
    <section class="py-4 sm:py-6 md:py-8 lg:py-10 xl:py-12">
      <Content />
    </section>
  </article>
  <footer
    class="not-prose border-t border-neutral-200 pt-8 sm:pt-10 md:pt-12 lg:pt-14 xl:pt-16 dark:border-neutral-800"
  >
    <nav class="grid grid-cols-1 gap-8 sm:grid-cols-2">
      {
        previousPost && (
          <a
            href={`/news/${previousPost.slug}`}
            class="group flex flex-col items-start gap-1 text-left"
          >
            <div class="flex items-center gap-1 text-neutral-500 transition group-hover:text-neutral-800 dark:group-hover:text-neutral-200">
              <ArrowLeftIcon
                size={14}
                class="flex-shrink-0 transition group-hover:-translate-x-0.5"
              />
              <span class="text-sm">Previous</span>
            </div>
            <p class="text-base font-semibold">{previousPost.data.title}</p>
          </a>
        )
      }
      {
        nextPost && (
          <a
            href={`/news/${nextPost.slug}`}
            class="group flex flex-col items-end gap-1 text-right md:col-start-2"
          >
            <div class="flex items-center gap-1 text-neutral-500 transition group-hover:text-neutral-800 dark:group-hover:text-neutral-200">
              <span class="text-sm">Next</span>
              <ArrowRightIcon
                size={14}
                class="flex-shrink-0 transition group-hover:translate-x-0.5"
              />
            </div>
            <p class="text-base font-semibold">{nextPost.data.title}</p>
          </a>
        )
      }
    </nav>
  </footer>
</ProseLayout>
