---
import { getCollection } from 'astro:content';

import { categories } from 'src/content.config';
import Divider from '@components/Divider.astro';
import MainLayout from '@layouts/MainLayout.astro';
import NewsHeader from '@components/NewsHeader.astro';
import Newsletter from '@components/Newsletter.astro';
import Post from '@components/Post.astro';
import { filterDrafts, getCategoryLabel } from '@utils/content';

export function getStaticPaths() {
  return categories.map((category) => ({
    params: {
      category
    }
  }));
}

const { category } = Astro.params;

const posts = await getCollection('news', filterDrafts);
const categoryPosts = posts
  .filter(({ data }) => data.category === category)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

const title = getCategoryLabel(category);
const description = `Posts filed under “${title}”`;
---

<MainLayout title={title} description={description}>
  <NewsHeader current={category} />
  <section>
    <div class="pb-16 lg:pb-32">
      <div class="container">
        <div class="grid grid-cols-1 gap-x-8 gap-y-16 md:grid-cols-2 xl:grid-cols-6">
          {categoryPosts.map((post, index) => <Post isLarge={index < 4} post={post} />)}
        </div>
      </div>
    </div>
  </section>
  <Divider />
  <Newsletter />
</MainLayout>
