---
import { getCollection } from 'astro:content';
import { sentenceCase } from 'change-case';
import { categories } from '@content/config';
import MainLayout from '@layouts/MainLayout.astro';
import CategoryNav from '@components/CategoryNav.astro';
import Newsletter from '@components/Newsletter.astro';
import Post from '@components/Post.astro';

export function getStaticPaths() {
  return categories.map((category) => ({
    params: {
      category
    }
  }));
}

const { category } = Astro.params;

const posts = await getCollection('news', ({ data }) => !import.meta.env.PROD || !data.draft);
const categoryPosts = posts
  .filter(({ data }) => data.category === category)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

const title = sentenceCase(category);
const description = `Posts filed under ${sentenceCase(category).toLowerCase()}`;
---

<MainLayout title={title} description={description} headerClass="bg-white dark:bg-neutral-900">
  <section class="border-b border-neutral-200 bg-white dark:border-neutral-800 dark:bg-neutral-900">
    <div class="container-narrow pt-16 pb-24 text-center lg:pt-28 lg:pb-40">
      <h1 class="mb-5 text-4xl font-semibold text-neutral-900 md:text-5xl dark:text-neutral-100">
        News
      </h1>
      <CategoryNav current={category} />
    </div>
  </section>
  <div class="h-8 sm:h-12 lg:h-16"></div>
  <section class="container py-8 sm:py-12 lg:py-16">
    <div class="grid grid-cols-1 gap-x-10 gap-y-12 md:grid-cols-2 lg:grid-cols-6 lg:gap-y-20">
      {categoryPosts.map((post, index) => <Post post={post} isLarge={index < 2} />)}
    </div>
  </section>
  <section class="container py-8 sm:py-12 lg:py-16">
    <Newsletter />
  </section>
  <div class="h-8 sm:h-12 lg:h-16"></div>
</MainLayout>
