---
import { getCollection } from 'astro:content';

import { categories } from 'src/content.config';
import MainLayout from '@layouts/MainLayout.astro';
import NewsHeader from '@components/NewsHeader.astro';
import Newsletter from '@components/Newsletter.astro';
import Post from '@components/Post.astro';
import { filterDrafts, getCategoryLabel } from '@utils/content';

export function getStaticPaths() {
  return categories.map((category) => ({
    params: {
      category
    }
  }));
}

const { category } = Astro.params;

const posts = await getCollection('news', filterDrafts);
const categoryPosts = posts
  .filter(({ data }) => data.category === category)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

const title = getCategoryLabel(category);
const description = `Posts filed under “${title}”`;
---

<MainLayout title={title} description={description}>
  <NewsHeader current={category} />
  <section class="container pt-12 pb-12 sm:pb-16 md:pb-20 lg:pb-24 xl:pb-28">
    <div class="grid grid-cols-1 gap-x-6 gap-y-12 md:grid-cols-2 xl:grid-cols-6">
      {categoryPosts.map((post, index) => <Post isLarge={index < 4} post={post} />)}
    </div>
  </section>
  <section
    class="border-t border-neutral-200 py-12 sm:py-16 md:py-20 lg:py-24 xl:py-28 dark:border-neutral-800"
  >
    <Newsletter />
  </section>
</MainLayout>
