---
import { getCollection, getEntry } from 'astro:content';

import Divider from '@components/Divider.astro';
import MainLayout from '@layouts/MainLayout.astro';
import NewsHeader from '@components/NewsHeader.astro';
import Newsletter from '@components/Newsletter.astro';
import Post from '@components/Post.astro';
import { filterDrafts, categories, getCategoryLabel } from '@utils/content';

export function getStaticPaths() {
  return categories.map((category) => ({
    params: {
      category: category.value
    }
  }));
}

const { category } = Astro.params;

const posts = await getCollection('news', filterDrafts);
const postsWithAuthors = await Promise.all(
  posts.map(async (post) => {
    if (!post.data.author) {
      return { ...post, author: undefined };
    }
    const author = await getEntry(post.data.author);
    return { ...post, author };
  })
);
const categoryPosts = postsWithAuthors
  .filter(({ data }) => data.category === category)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

const title = getCategoryLabel(category);
const description = `Posts filed under “${title}”`;
---

<MainLayout title={title} description={description}>
  <NewsHeader current={category} />
  <section>
    <div class="pb-16 lg:pb-32">
      <div class="container">
        <div class="grid grid-cols-1 gap-x-8 gap-y-12 lg:grid-cols-3 lg:gap-y-16">
          {categoryPosts.map((post) => <Post post={post} author={post.author} />)}
        </div>
      </div>
    </div>
  </section>
  <Divider />
  <Newsletter />
</MainLayout>
