---
import { getCollection, render, type CollectionEntry } from 'astro:content';

import ProseLayout from '@layouts/ProseLayout.astro';
import CompanyLogo from '@components/CompanyLogo.astro';
import { paths } from '@data/paths';
import { formatDate } from '@utils/date';
import { filterDrafts, getCategoryLabel } from '@utils/content';
import { twMerge } from 'tailwind-merge';

export async function getStaticPaths() {
  const posts = await getCollection('news', filterDrafts);
  const sortedPosts = posts.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

  return sortedPosts.map((post, index) => ({
    params: { id: post.id },
    props: {
      post,
      previousPost: sortedPosts[index - 1] || null,
      nextPost: sortedPosts[index + 1] || null
    }
  }));
}

interface Props {
  post: CollectionEntry<'news'>;
  previousPost: CollectionEntry<'news'> | null;
  nextPost: CollectionEntry<'news'> | null;
}

const { post, previousPost, nextPost } = Astro.props;
const { Content } = await render(post);
---

<ProseLayout title={post.data.title} description={post.data.description} image={post.data.cover}>
  <article>
    <header class="not-prose text-center">
      <h1
        class="mb-5 font-serif text-4xl text-neutral-950 lg:mb-6 lg:text-5xl dark:text-neutral-50"
      >
        {post.data.title}
      </h1>
      <p class="flex flex-wrap justify-center gap-1 text-sm">
        {
          post.data.author && (
            <>
              <span class="text-neutral-500">{post.data.author}</span>
              <span class="text-neutral-500">&middot;</span>
            </>
          )
        }
        {
          post.data.category && (
            <>
              <a
                class="text-neutral-500 transition hover:text-current active:text-current"
                href={`${paths.news.href}/${post.data.category}`}
              >
                {getCategoryLabel(post.data.category)}
              </a>
              <span class="text-neutral-500">&middot;</span>
            </>
          )
        }
        <time class="text-neutral-500" datetime={post.data.date.toISOString()}>
          {formatDate(post.data.date)}
        </time>
        <span class="text-neutral-500">&middot;</span>
        <button
          id="copy-clipboard"
          class="w-16 cursor-pointer text-left text-neutral-500 transition hover:text-current"
        >
          Copy link
        </button>
      </p>
    </header>
    {
      post.data.callout && post.data.category === 'case-study' && (
        <div class="not-prose mx-auto my-16 flex items-center border-y border-neutral-200 dark:border-neutral-800">
          <div class="flex w-1/2 justify-center p-8 lg:p-16">
            <div>
              <p
                class:list={twMerge(
                  post.data.callout.value.length < 6 ? 'text-3xl md:text-5xl' : 'text-2xl',
                  'max-w-48 leading-none font-medium text-neutral-950 dark:text-neutral-50'
                )}
              >
                {post.data.callout.value}
              </p>
              <p class="mt-2 text-sm leading-none text-neutral-500">{post.data.callout.label}</p>
            </div>
          </div>
          <div class="w-px shrink-0 self-stretch bg-neutral-200 dark:bg-neutral-800" />
          <div class="flex w-1/2 justify-center p-16">
            <CompanyLogo
              company={post.data.callout.company}
              class="h-6 w-auto shrink-0 text-neutral-950 lg:h-8 dark:text-neutral-50"
            />
          </div>
        </div>
      )
    }
    <section class="my-8 lg:my-16">
      <Content />
    </section>
  </article>
  <div class="not-prose border-t border-neutral-200 pt-8 lg:pt-16 dark:border-neutral-800">
    <nav class="grid gap-8 lg:grid-cols-2">
      {
        previousPost && (
          <a
            href={`${paths.news.href}/${previousPost.id}`}
            class="group text-left text-neutral-950 dark:text-neutral-50"
          >
            <p class="mb-1 text-sm text-neutral-500 transition group-hover:text-current group-active:text-current">
              <span class="inline-block opacity-60 transition group-hover:-translate-x-0.5 group-hover:opacity-100">
                &larr;
              </span>
              Previous
            </p>
            <p class="font-medium text-balance">{previousPost.data.title}</p>
          </a>
        )
      }
      {
        nextPost && (
          <a
            href={`${paths.news.href}/${nextPost.id}`}
            class="group text-right text-neutral-950 dark:text-neutral-50"
          >
            <p class="-mr-0.75 text-sm text-neutral-500 transition group-hover:text-current group-active:text-current">
              Next
              <span class="inline-block opacity-60 transition group-hover:translate-x-0.5 group-hover:opacity-100">
                &rarr;
              </span>
            </p>
            <p class="font-medium text-balance">{nextPost.data.title}</p>
          </a>
        )
      }
    </nav>
  </div>
</ProseLayout>

<script>
  const button = document.getElementById('copy-clipboard');

  button?.addEventListener('click', () => {
    try {
      navigator.clipboard.writeText(window.location.href);
      button.textContent = 'Copied!';
      setTimeout(() => {
        button.textContent = 'Copy link';
      }, 3000);
    } catch (e) {
      console.log(e);
    }
  });
</script>
