---
import { getCollection, render, type CollectionEntry } from 'astro:content';
import ChevronRightIcon from 'lucide-astro/ChevronRight';
import ChevronLeftIcon from 'lucide-astro/ChevronLeft';

import ProseLayout from '@layouts/ProseLayout.astro';
import CompanyLogo from '@components/CompanyLogo.astro';
import { paths } from '@data/paths';
import { formatDate } from '@utils/date';
import { filterDrafts, getCategoryLabel } from '@utils/content';
import { twMerge } from 'tailwind-merge';

export async function getStaticPaths() {
  const posts = await getCollection('news', filterDrafts);
  const sortedPosts = posts.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

  return sortedPosts.map((post, index) => ({
    params: { id: post.id },
    props: {
      post,
      previousPost: sortedPosts[index - 1] || null,
      nextPost: sortedPosts[index + 1] || null
    }
  }));
}

interface Props {
  post: CollectionEntry<'news'>;
  previousPost: CollectionEntry<'news'> | null;
  nextPost: CollectionEntry<'news'> | null;
}

const { post, previousPost, nextPost } = Astro.props;
const { Content } = await render(post);
---

<ProseLayout title={post.data.title} description={post.data.description} image={post.data.cover}>
  <article>
    <header class="not-prose text-center">
      <h1 class="font-serif text-4xl text-neutral-950 lg:text-5xl dark:text-neutral-50">
        {post.data.title}
      </h1>
      <div class="mt-6 flex flex-wrap justify-center gap-1.5 text-sm text-neutral-500">
        {
          post.data.author && (
            <>
              <span>{post.data.author}</span>
              <span>&middot;</span>
            </>
          )
        }
        <time datetime={post.data.date.toISOString()}>{formatDate(post.data.date)}</time>
        <span>&middot;</span>
        <a
          href={`${paths.news.href}/${post.data.category}`}
          class="transition hover:text-neutral-800 active:text-neutral-800 dark:hover:text-neutral-200 dark:active:text-neutral-200"
        >
          {getCategoryLabel(post.data.category)}
        </a>
        <span>&middot;</span>
        <button
          id="copy-clipboard"
          class="w-16 cursor-pointer text-left transition hover:text-neutral-800 active:text-neutral-800 dark:hover:text-neutral-200 dark:active:text-neutral-200"
        >
          Copy link
        </button>
      </div>
    </header>
    {
      post.data.callout && post.data.category === 'case-example' && (
        <div class="not-prose mx-auto my-16 flex items-center border-y border-neutral-200 dark:border-neutral-800">
          <div class="flex w-1/2 justify-center p-8 lg:p-16">
            <div>
              <p
                class:list={twMerge(
                  post.data.callout.value.length < 6 ? 'text-3xl md:text-5xl' : 'text-2xl',
                  'max-w-48 leading-none font-medium text-neutral-950 dark:text-neutral-50'
                )}
              >
                {post.data.callout.value}
              </p>
              <p class="mt-2 text-sm leading-none text-neutral-500">{post.data.callout.label}</p>
            </div>
          </div>
          <div class="w-px shrink-0 self-stretch bg-neutral-200 dark:bg-neutral-800" />
          <div class="flex w-1/2 justify-center p-16">
            <CompanyLogo
              company={post.data.callout.company}
              class="h-6 w-auto shrink-0 text-neutral-950 lg:h-8 dark:text-neutral-50"
            />
          </div>
        </div>
      )
    }
    <section class="my-8 lg:my-16">
      <Content />
    </section>
  </article>
  <div
    class="not-prose border-t border-neutral-200 pt-8 sm:pt-10 md:pt-12 lg:pt-14 xl:pt-16 dark:border-neutral-800"
  >
    <nav class="grid grid-cols-1 gap-8 sm:grid-cols-2">
      {
        previousPost && (
          <a
            href={`${paths.news.href}/${previousPost.id}`}
            class="group flex flex-col items-start gap-1 text-left text-neutral-950 dark:text-neutral-50"
          >
            <div class="-ml-0.75 flex items-center gap-0.5 text-neutral-500 transition group-hover:text-current group-active:text-current">
              <ChevronLeftIcon size={14} class="transition group-hover:-translate-x-0.5" />
              <span class="text-sm">Previous</span>
            </div>
            <p class="font-medium text-balance">{previousPost.data.title}</p>
          </a>
        )
      }
      {
        nextPost && (
          <a
            href={`${paths.news.href}/${nextPost.id}`}
            class="group flex flex-col items-end gap-1 text-right text-neutral-950 md:col-start-2 dark:text-neutral-50"
          >
            <div class="-mr-0.75 flex items-center gap-0.5 text-neutral-500 transition group-hover:text-current group-active:text-current">
              <span class="text-sm">Next</span>
              <ChevronRightIcon size={14} class="mt-px transition group-hover:translate-x-0.5" />
            </div>
            <p class="font-medium text-balance">{nextPost.data.title}</p>
          </a>
        )
      }
    </nav>
  </div>
</ProseLayout>

<script>
  const button = document.getElementById('copy-clipboard');

  button?.addEventListener('click', () => {
    try {
      navigator.clipboard.writeText(window.location.href);
      button.textContent = 'Copied!';
      setTimeout(() => {
        button.textContent = 'Copy link';
      }, 3000);
    } catch (e) {
      console.log(e);
    }
  });
</script>
