---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import { formatDate } from '@utils/date.ts';
import MainLayout from '@layouts/MainLayout.astro';

const posts = await getCollection('news', ({ data }) =>
  import.meta.env.PROD ? !data.draft : true
);

const sortedPosts = posts.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

const title = 'News';
const description = 'Company news, product updates, and more';
---

<MainLayout title={title} description={description}>
  <section class="container pt-16">
    <h1 class="mb-4 text-5xl font-semibold">{title}</h1>
    <p class="mb-4 text-lg">{description}</p>
  </section>
  <section class="container grid grid-cols-3 gap-12 py-16">
    {
      sortedPosts.map((post) => (
        <article>
          <a href={`/news/${post.slug}`} class="flex flex-col gap-3">
            <Image
              src={post.data.cover}
              alt={post.data.title}
              width={640}
              class="aspect-img mb-1 rounded object-cover"
            />
            <h3 class="text-xl font-semibold">{post.data.title}</h3>
            <time datetime={post.data.date.toISOString()} class="text-sm text-neutral-500">
              {formatDate(post.data.date)}
            </time>
            <p>{post.data.description}</p>
          </a>
        </article>
      ))
    }
  </section>
  <section class="container py-16">
    <h2 class="mb-4 text-3xl font-semibold">Be the first one to know more</h2>
    <p>Sign up to our newsletter to receive updates.</p>
    <form name="newsletter" method="POST" data-netlify="true" data-netlify-honeypot="honeypot">
      <div class="my-4 flex gap-2">
        <input
          id="email"
          name="email"
          placeholder="Email"
          type="email"
          required
          class="field-sizing-content h-10 min-w-80 rounded border border-neutral-200 px-3 dark:border-neutral-800"
        />
        <button
          type="submit"
          class="h-10 rounded bg-black px-6 font-medium text-white dark:bg-white dark:text-black"
          >Sign up</button
        >
      </div>
      <input
        id="honeypot"
        name="honeypot"
        type="text"
        autocomplete="off"
        tabindex="-1"
        aria-hidden="true"
        style="position: absolute; left: -9999px;"
      />
    </form>
    <p class="text-sm text-neutral-500">We respect your privacy.</p>
  </section>
</MainLayout>
