---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import { sentenceCase } from 'change-case';
import navigation from '@data/navigation.yml';
import { formatDate } from '@utils/date.ts';
import MainLayout from '@layouts/MainLayout.astro';

const posts = await getCollection('news', ({ data }) => !import.meta.env.PROD || !data.draft);

const sortedPosts = posts.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

const title = 'News';
const description = 'Company news, product updates, and more.';
---

<MainLayout title={title} description={description} headerClass="bg-white dark:bg-neutral-900">
  <section class="bg-gradient-to-b from-white to-transparent dark:from-neutral-900">
    <div class="container-narrow py-16 text-center sm:py-20 md:py-24 lg:py-28 xl:py-32">
      <h1
        class="mb-6 text-3xl font-semibold text-neutral-950 md:text-4xl lg:text-5xl dark:text-neutral-50"
      >
        {title}
      </h1>
      <p class="text-lg text-neutral-700 dark:text-neutral-300">{description}</p>
    </div>
  </section>
  <section class="container pb-16 sm:pb-20 md:pb-24 lg:pb-28 xl:pb-32">
    <div class="grid grid-cols-1 gap-x-10 gap-y-12 md:grid-cols-2 lg:grid-cols-6 lg:gap-y-20">
      {
        sortedPosts.map((post, index) => (
          <article class={`group ${index < 2 ? 'lg:col-span-3' : 'lg:col-span-2'}`}>
            <a href={`/news/${post.slug}`} class="flex flex-col gap-3 rounded">
              <div class="relative mb-1 overflow-clip rounded">
                <Image
                  src={post.data.cover}
                  alt={post.data.title}
                  width={600}
                  layout="constrained"
                  class="aspect-video bg-current/10 object-cover text-neutral-500"
                />
                <div class="absolute inset-0 bg-current opacity-0 transition duration-300 group-hover:opacity-10 group-active:opacity-10" />
              </div>
              <h3 class="text-xl font-semibold text-neutral-950 dark:text-neutral-50">
                {post.data.title}
              </h3>
              <div class="flex flex-wrap gap-1.5 text-sm text-neutral-500 transition group-hover:text-current">
                <time datetime={post.data.date.toISOString()}>{formatDate(post.data.date)}</time>
                <span>&middot;</span>
                <span>{sentenceCase(post.data.category)}</span>
              </div>
              <p>{post.data.description}</p>
            </a>
          </article>
        ))
      }
    </div>
  </section>
  <section class="container pb-16 sm:pb-20 md:pb-24 lg:pb-28 xl:pb-32">
    <div
      class="rounded-lg border border-neutral-200 bg-white p-8 shadow-lg shadow-black/2 md:p-12 lg:p-16 dark:border-neutral-800 dark:bg-neutral-900 dark:shadow-black/50"
    >
      <div class="flex flex-col justify-center text-center">
        <h3 class="mb-3 text-2xl font-semibold text-neutral-950 md:text-3xl dark:text-neutral-50">
          Be the first one to know more
        </h3>
        <p class="text-neutral-700 dark:text-neutral-300">
          Sign up to our newsletter to receive company news, product updates and more.
        </p>
        <form
          name="newsletter"
          method="POST"
          action="/success"
          data-netlify="true"
          netlify-honeypot="bot-field"
          class="my-8 flex flex-wrap justify-center gap-x-2 gap-y-4"
        >
          <input
            name="email"
            placeholder="Email"
            type="email"
            required
            class="h-10 w-full rounded border border-neutral-200 bg-neutral-50 px-3 text-sm placeholder:text-neutral-500 sm:max-w-96 dark:border-neutral-800 dark:bg-neutral-950"
          />
          <button
            type="submit"
            class="inline-flex h-10 w-full cursor-pointer items-center justify-center gap-1 rounded bg-indigo-500 px-4 text-center text-sm font-[550] text-nowrap text-white transition select-none hover:bg-indigo-600 active:bg-indigo-600 sm:w-auto dark:hover:bg-indigo-400 dark:active:bg-indigo-400"
          >
            Sign up
          </button>
          <input
            name="bot-field"
            type="text"
            autocomplete="off"
            tabindex="-1"
            aria-hidden="true"
            style="position: absolute; left: -9999px;"
          />
        </form>
        <p class="text-xs text-neutral-500">
          See our
          <a href={navigation.privacy.href} class="underline" tabindex="-1"
            >{navigation.privacy.title}</a
          >
          for details on how we handle your data.
        </p>
      </div>
    </div>
  </section>
</MainLayout>

<script>
  window.addEventListener('pageshow', (event) => {
    const navEntry = performance.getEntriesByType('navigation')[0] as PerformanceNavigationTiming;
    if (!navEntry) return;
    const navigationType = navEntry.type;
    if (event.persisted || navigationType === 'back_forward') {
      const form = document.querySelector('form');
      if (form instanceof HTMLFormElement) {
        form.reset();
      }
    }
  });
</script>
