---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import { formatDate } from '@utils/date.ts';
import Layout from '@layouts/Layout.astro';

const posts = await getCollection('news', ({ data }) =>
  import.meta.env.PROD ? !data.draft : true
);

const sortedPosts = posts.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<Layout title="News" description="Company news, product updates, and more.">
  <h1>News</h1>
  <p>Company news, product updates, and more.</p>
  <div class="grid">
    {
      sortedPosts.map((post) => (
        <article>
          <Image src={post.data.cover} alt={post.data.title} width={640} />
          <h3>
            <a href={`/news/${post.slug}`}>{post.data.title}</a>
          </h3>
          <time datetime={post.data.date.toISOString()}>{formatDate(post.data.date)}</time>
          <p>{post.data.description}</p>
        </article>
      ))
    }
  </div>
  <section>
    <h2>Be the first one to know more</h2>
    <p>Sign up to our newsletter to receive updates.</p>
    <form name="newsletter" method="POST" data-netlify="true" data-netlify-honeypot="honeypot">
      <label for="email">Email</label>
      <input id="email" name="email" type="email" required />
      <input
        id="honeypot"
        name="honeypot"
        type="text"
        autocomplete="off"
        tabindex="-1"
        aria-hidden="true"
        style="position: absolute; left: -9999px;"
      />
      <button type="submit">Sign up</button>
    </form>
    <p>We respect your privacy.</p>
  </section>
</Layout>

<style>
  section {
    padding: 2rem 0;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 3rem;
  }

  article {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    img {
      aspect-ratio: 3/2;
      object-fit: cover;
    }
  }
</style>
