---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import Layout from '@layouts/Layout.astro';

const posts = await getCollection('news', ({ data }) =>
  import.meta.env.PROD ? !data.isDraft : true
);

const sortedPosts = posts.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<Layout title="News">
  <h1>News</h1>
  <div>
    {
      sortedPosts.map((post) => (
        <article>
          <Image src={post.data.cover} alt={post.data.title} format="webp" width="400" />
          <h2>
            <a href={`/news/${post.slug}`}>{post.data.title}</a>
          </h2>
          <p>{post.data.date.toLocaleDateString()}</p>
          <p>{post.data.description}</p>
        </article>
      ))
    }
  </div>
</Layout>
