---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import { twMerge } from 'tailwind-merge';
import CompanyLogo from '@components/CompanyLogo.astro';
import { paths } from '@data/paths';

interface Props {
  post: CollectionEntry<'news'>;
}

const { post } = Astro.props;
---

<article class="group">
  <a href={`${paths.news.href}/${post.id}`} class="flex h-full flex-col gap-3">
    <Image
      src={post.data.cover}
      alt={post.data.coverAlt}
      width={720}
      layout="constrained"
      class="mb-1 aspect-video bg-neutral-500/10 object-cover text-transparent transition duration-300 group-hover:opacity-90"
    />
    {
      post.data.callout && (
        <div class="flex justify-between gap-4">
          <div>
            <p
              class:list={twMerge(
                post.data.callout.value.length < 6
                  ? 'text-3xl lg:text-4xl lg:leading-12'
                  : 'text-2xl leading-6 font-[420]',
                'font-serif text-neutral-950 lg:max-w-48 dark:text-neutral-50'
              )}
            >
              {post.data.callout.value}
            </p>
            <p class="mt-1 text-sm leading-4 text-neutral-500">{post.data.callout.label}</p>
          </div>
          <CompanyLogo
            company={post.data.callout.company}
            class="mt-1 mr-1 h-5 w-auto shrink-0 text-neutral-950 dark:text-neutral-50"
          />
        </div>
      )
    }
    <h4 class="mb-auto font-medium text-neutral-950 dark:text-neutral-50">
      {post.data.title}
    </h4>
    <p
      class="text-sm leading-4 text-neutral-500 transition group-hover:text-current group-active:text-current"
    >
      See how they did it
      <span
        class="inline-block opacity-60 transition group-hover:translate-x-0.5 group-hover:opacity-100"
      >
        &rarr;
      </span>
    </p>
  </a>
</article>
