---
import type { NavItem } from '@data/types';
import navigation from '@data/navigation.yml';
import site from '@data/site.yml';
import Logo from '@components/Logo.astro';

const { pathname } = Astro.url;
const navItems: NavItem[] = navigation;

const isExternal = (href: string) => href.startsWith('http') || href.startsWith('//');
---

<footer>
  <div>
    <Logo size={16} />
    <p>&copy; {new Date().getFullYear()} {site.title}</p>
  </div>
  <div>
    <h4>Navigation</h4>
    {
      navItems.map(({ title, href }) => (
        <a
          href={href}
          class="nav-link"
          {...(isExternal(href) && {
            target: '_blank',
            rel: 'noopener noreferrer'
          })}
        >
          {title}
        </a>
      ))
    }
  </div>
  <div>
    <h4>Connect</h4>
    {
      site.twitter && (
        <a href={site.twitter} target="_blank" rel="noopener noreferrer">
          X (Twitter)
        </a>
      )
    }
    {
      site.linkedin && (
        <a href={site.linkedin} target="_blank" rel="noopener noreferrer">
          LinkedIn
        </a>
      )
    }
    {
      site.instagram && (
        <a href={site.instagram} target="_blank" rel="noopener noreferrer">
          Instagram
        </a>
      )
    }
    {
      site.youtube && (
        <a href={site.youtube} target="_blank" rel="noopener noreferrer">
          YouTube
        </a>
      )
    }
  </div>
</footer>

<style>
  footer {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  h4 {
    font-weight: 600;
    font-size: 0.875rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  a {
    color: dimgray;
    display: block;
    font-size: 0.875rem;
    text-decoration: none;
    margin-block: 0.25rem;

    &:hover {
      color: black;
    }
  }

  p {
    font-size: 0.875rem;
    margin-top: 0.5rem;
  }
</style>
