---
import type { NavItem } from '@data/types';
import navigation from '@data/navigation.yml';
import site from '@data/site.yml';
import Logo from '@components/Logo.astro';

const { pathname } = Astro.url;
const navItems: NavItem[] = navigation;
---

<footer class="py-12">
  <div class="container grid grid-cols-3 gap-6">
    <div>
      <Logo size={16} />
      <p class="mt-4 text-sm">&copy; {new Date().getFullYear()} {site.title}</p>
    </div>
    <div class="flex flex-col gap-2">
      <h4 class="text-sm font-semibold">Resources</h4>
      {
        navItems.map(({ title, href }) => (
          <a
            href={href}
            class="text-sm text-neutral-500 transition hover:text-neutral-900 dark:hover:text-neutral-200"
          >
            {title}
          </a>
        ))
      }
    </div>
    <div class="flex flex-col gap-2">
      <h4 class="text-sm font-semibold">Connect</h4>
      {
        site.twitter && (
          <a
            href={site.twitter}
            class="text-sm text-neutral-500 transition hover:text-neutral-900 dark:hover:text-neutral-200"
          >
            X (Twitter)
          </a>
        )
      }
      {
        site.linkedin && (
          <a
            href={site.linkedin}
            class="text-sm text-neutral-500 transition hover:text-neutral-900 dark:hover:text-neutral-200"
          >
            LinkedIn
          </a>
        )
      }
      {
        site.instagram && (
          <a
            href={site.instagram}
            class="text-sm text-neutral-500 transition hover:text-neutral-900 dark:hover:text-neutral-200"
          >
            Instagram
          </a>
        )
      }
      {
        site.youtube && (
          <a
            href={site.youtube}
            class="text-sm text-neutral-500 transition hover:text-neutral-900 dark:hover:text-neutral-200"
          >
            YouTube
          </a>
        )
      }
    </div>
  </div>
</footer>
