---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';

import { paths } from '@data/paths';
import { getCategoryLabel } from '@utils/content';
import { formatDate } from '@utils/date';

interface Props {
  post: CollectionEntry<'news'>;
  author?: CollectionEntry<'authors'>;
}

const { post, author } = Astro.props;
---

<article class="col-span-full">
  <a href={`${paths.news.href}/${post.id}`} class="group grid gap-x-8 gap-y-6 lg:grid-cols-3">
    <Image
      src={post.data.cover}
      alt={post.data.coverAlt}
      width={960}
      layout="constrained"
      class="aspect-video bg-neutral-500/10 object-cover text-transparent transition duration-300 group-hover:opacity-90 group-active:opacity-90 lg:col-span-2"
    />
    <div class="flex flex-col lg:col-span-1">
      <h4
        class="mb-2 text-lg leading-tight font-medium text-neutral-950 lg:text-2xl dark:text-neutral-50"
      >
        {post.data.title}
      </h4>
      <p class="mb-4 text-neutral-600 dark:text-neutral-400">
        {post.data.description}
      </p>
      <div
        class="flex flex-wrap gap-1 text-sm text-neutral-500 transition group-hover:text-current group-active:text-current"
      >
        {
          (author || post.data.category) && (
            <>
              <span>
                {author
                  ? author.data.name
                  : post.data.category
                    ? getCategoryLabel(post.data.category)
                    : ''}
              </span>
              <span>&middot;</span>
            </>
          )
        }
        <time datetime={post.data.date.toISOString()}>{formatDate(post.data.date)}</time>
        <span
          class="text-sm opacity-0 transition group-hover:translate-x-0.5 group-hover:opacity-100"
        >
          &rarr;
        </span>
      </div>
    </div>
  </a>
</article>
