---
import { getCollection } from 'astro:content';

import { categories } from 'src/content.config';
import { paths } from '@data/paths';
import { filterDrafts, getCategoryLabel } from '@utils/content';

interface Props {
  current?: string;
}

const { current } = Astro.props;

const posts = await getCollection('news', filterDrafts);
const usedCategories = Array.from(new Set(posts.map(({ data }) => data.category)));
const nonEmptyCategories = categories.filter((c) => usedCategories.includes(c));

const linkClass =
  'text-base text-neutral-500 transition select-none hover:text-current active:text-current aria-current:text-current aria-current:underline underline-offset-2 decoration-1';
---

<div class="pt-16 pb-8 lg:pt-32 lg:pb-16">
  <div class="container">
    <h1
      class="mb-4 text-3xl font-medium tracking-tight text-neutral-950 lg:mb-8 lg:text-5xl dark:text-neutral-50"
    >
      The latest from Clouder
    </h1>
    <div class="flex flex-wrap items-center gap-x-4 gap-y-2 text-neutral-950 dark:text-neutral-50">
      <a href={paths.news.href} aria-current={current === undefined} class={linkClass}>All</a>
      {
        nonEmptyCategories.map((category) => (
          <a
            href={`${paths.news.href}/${category}`}
            aria-current={current === category}
            class={linkClass}
          >
            {getCategoryLabel(category)}
          </a>
        ))
      }
    </div>
  </div>
</div>
