---
import { getCollection } from 'astro:content';

import { categories, categoryLabels } from '@content/config';
import { paths } from '@data/paths';
import { filterDrafts } from '@utils/content.ts';

interface Props {
  current?: string;
}

const { current } = Astro.props;

const posts = await getCollection('news', filterDrafts);
const usedCategories = Array.from(new Set(posts.map(({ data }) => data.category)));
const nonEmptyCategories = categories.filter((c) => usedCategories.includes(c));

const linkClass =
  'rounded-full px-3 leading-8 font-medium text-current/60 transition select-none hover:bg-current/5 hover:text-current active:bg-current/5 active:text-current aria-current:text-current aria-current:hover:bg-transparent';
---

<div class="container py-16 text-center sm:py-20 md:py-24 lg:py-28 xl:py-32">
  <h1
    class="mb-8 text-3xl font-semibold text-neutral-950 md:text-4xl lg:text-5xl dark:text-neutral-50"
  >
    News
  </h1>
  <div class="flex flex-wrap justify-center text-neutral-950 dark:text-neutral-50">
    <a href={paths.news.href} aria-current={current === undefined} class={linkClass}>All</a>
    {
      nonEmptyCategories.map((category) => (
        <a
          href={`${paths.news.href}/${category}`}
          aria-current={current === category}
          class={linkClass}
        >
          {categoryLabels[category]}
        </a>
      ))
    }
  </div>
</div>
