---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';

import { paths } from '@data/paths';
import { getCategoryLabel } from '@utils/content';
import { formatDate } from '@utils/date';

interface Props {
  post: CollectionEntry<'news'>;
  isLarge?: boolean;
}

const { post, isLarge } = Astro.props;
---

<article class={isLarge ? 'xl:col-span-3' : 'xl:col-span-2'}>
  <a
    href={`${paths.news.href}/${post.id}`}
    class:list={['group flex flex-col gap-2', isLarge && 'xl:gap-3']}
  >
    <Image
      src={post.data.cover}
      alt={post.data.coverAlt}
      width={640}
      layout="constrained"
      class="mb-1 aspect-video bg-neutral-500/10 object-cover text-transparent transition duration-300 group-hover:opacity-90 group-active:opacity-90"
    />
    <div
      class="flex flex-wrap gap-1 text-sm text-neutral-500 transition group-hover:text-current group-active:text-current"
    >
      {
        (post.data.author || post.data.category) && (
          <>
            <span>
              {post.data.author
                ? post.data.author
                : post.data.category
                  ? getCategoryLabel(post.data.category)
                  : ''}
            </span>
            <span>&middot;</span>
          </>
        )
      }
      <time datetime={post.data.date.toISOString()}>{formatDate(post.data.date)}</time>
      <span class="text-sm opacity-0 transition group-hover:translate-x-0.5 group-hover:opacity-100"
        >&rarr;</span
      >
    </div>
    <h3
      class:list={[
        'text-neutral-950 dark:text-neutral-50',
        isLarge ? 'text-2xl font-[450]' : 'text-base font-medium'
      ]}
    >
      {post.data.title}
    </h3>
    {isLarge && <p class="text-sm lg:text-base">{post.data.description}</p>}
  </a>
</article>
