---
import ArrowUpRightIcon from 'lucide-astro/ArrowUpRight';

import site from '@data/site.yml';
import navigation from '@data/navigation.yml';
import Logo from '@components/Logo.astro';

const isExternal = (href: string) => {
  return href.startsWith('http');
};

const resourcesPages = ['dashboard', 'privacy', 'infosec'];

const navigationLinks = Object.entries(navigation)
  .filter(([key, _]) => !resourcesPages.includes(key))
  .map(([_, item]) => item);

const resourcesLinks = Object.entries(navigation)
  .filter(([key, _]) => resourcesPages.includes(key))
  .map(([_, item]) => item);
---

<footer
  class="mt-8 border-t border-neutral-200 bg-neutral-50 py-12 dark:border-neutral-800 dark:bg-neutral-950"
>
  <div class="container grid grid-cols-1 gap-10 sm:grid-cols-9">
    <div class="sm:col-span-3">
      <a href="/" class="inline-block">
        <Logo size={16} class="flex-shrink-0" />
      </a>
      <p class="mt-4 text-sm text-neutral-500">&copy; {new Date().getFullYear()} {site.title}</p>
    </div>
    <div class="flex flex-col items-start gap-1 sm:col-span-2">
      <h4 class="mb-1 text-sm font-semibold">Sitemap</h4>
      {
        navigationLinks.map(({ title, href }) => (
          <a
            href={href}
            class="inline-flex items-center gap-0.5 py-1 text-sm text-neutral-500 transition hover:text-current active:text-current"
          >
            {title}
            {isExternal(href) && (
              <ArrowUpRightIcon size={14} class="mt-px flex-shrink-0 opacity-50" />
            )}
          </a>
        ))
      }
    </div>
    <div class="flex flex-col items-start gap-1 sm:col-span-2">
      <h4 class="mb-1 text-sm font-semibold">Resources</h4>
      {
        resourcesLinks.map(({ title, href }) => (
          <a
            href={href}
            class="inline-flex items-center gap-0.5 py-1 text-sm text-neutral-500 transition hover:text-current active:text-current"
          >
            {title}
            {isExternal(href) && (
              <ArrowUpRightIcon size={14} class="mt-px flex-shrink-0 opacity-50" />
            )}
          </a>
        ))
      }
    </div>
    <div class="flex flex-col items-start gap-1 sm:col-span-2">
      <h4 class="mb-1 text-sm font-semibold">Follow</h4>
      {
        site.social.map(({ title, href }) => (
          <a
            href={href}
            class="inline-flex items-center gap-0.5 py-1 text-sm text-neutral-500 transition hover:text-current active:text-current"
          >
            {title}
            <ArrowUpRightIcon size={14} class="mt-px flex-shrink-0 opacity-50" />
          </a>
        ))
      }
    </div>
  </div>
</footer>
