---
import { twMerge } from 'tailwind-merge';
import ArrowUpRightIcon from 'lucide-astro/ArrowUpRight';
import MenuIcon from 'lucide-astro/Menu';
import XIcon from 'lucide-astro/X';

import { headerLinks, socialLinks } from '@data/paths';
import Logo from '@components/Logo.astro';

interface Props {
  headerClass?: string;
  itemClass?: string;
}

const { headerClass, itemClass } = Astro.props;

const { pathname } = Astro.url;

const isActive = (href: string) => {
  if (href === '/') return pathname === href;
  return pathname.startsWith(href);
};

const isExternal = (href: string) => {
  return href.startsWith('http');
};

const defaultHeaderClass = 'py-4 lg:py-6 text-neutral-950 dark:text-neutral-50';
---

<header class:list={twMerge(defaultHeaderClass, headerClass)}>
  <div class="container flex items-center gap-x-4">
    <a href="/" class="mr-auto py-2">
      <Logo size={20} />
    </a>
    <!-- Mobile menu -->
    <label
      class="relative left-1.5 -m-1.5 block rounded-full p-3 transition active:bg-current/5 md:hidden"
      for="mobile-menu"
    >
      <input class="peer hidden" type="checkbox" id="mobile-menu" />
      <MenuIcon class="relative block peer-checked:hidden" />
      <XIcon class="relative z-30 hidden peer-checked:block" />
      <div
        class:list={twMerge(
          'pointer-events-none invisible fixed inset-8 top-24 z-20 h-auto w-auto rounded bg-white opacity-0 shadow-xl outline-999 outline-black/25 transition duration-300 peer-checked:pointer-events-auto peer-checked:visible peer-checked:opacity-100 dark:bg-neutral-900',
          defaultHeaderClass
        )}
      >
        <nav class="flex h-full flex-col p-4 pt-0">
          {
            headerLinks.map(({ title, href }) => (
              <a
                href={href}
                aria-current={isActive(href)}
                class:list={twMerge(
                  'inline-flex items-center gap-0.5 rounded px-3 py-2 text-lg font-medium text-current transition select-none aria-current:bg-current/5',
                  'hover:bg-current/5 active:bg-current/5',
                  itemClass
                )}
              >
                {title}
                {isExternal(href) && (
                  <ArrowUpRightIcon size={14} class="mt-px shrink-0 opacity-50" />
                )}
              </a>
            ))
          }
          <div class="mt-auto flex flex-wrap justify-center gap-2">
            {
              socialLinks.map(({ title, href }) => (
                <a
                  href={href}
                  class="p-2 text-base text-current/50 transition select-none active:text-current"
                >
                  {title}
                </a>
              ))
            }
          </div>
        </nav>
      </div>
    </label>
    <!-- Desktop menu -->
    <nav class="hidden flex-wrap gap-2 md:flex" data-testid="menu">
      {
        headerLinks.map(({ title, href }) => (
          <a
            href={href}
            aria-current={isActive(href)}
            class:list={twMerge(
              'inline-flex items-center gap-0.5 p-2 text-current decoration-1 underline-offset-2 transition select-none aria-current:text-current aria-current:hover:bg-transparent',
              'hover:underline active:underline',
              itemClass,
              headerLinks.some((i) => isActive(i.href)) && 'text-current/50 hover:text-current'
            )}
          >
            {title}
            {isExternal(href) && <ArrowUpRightIcon size={14} class="mt-px shrink-0 opacity-50" />}
          </a>
        ))
      }
    </nav>
  </div>
</header>

<script>
  const menu = document.getElementById('mobile-menu');

  if (menu instanceof HTMLInputElement) {
    menu.checked = false;
    document.documentElement.classList.remove('overflow-y-hidden');
  }

  menu?.addEventListener('change', (e) => {
    if (e.currentTarget instanceof HTMLInputElement) {
      document.documentElement.classList.toggle('overflow-y-hidden', e.currentTarget.checked);
    }
  });

  window.addEventListener('beforeunload', () => {
    if (menu instanceof HTMLInputElement) {
      menu.checked = false;
      document.documentElement.classList.remove('overflow-y-hidden');
    }
  });
</script>
